doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  body
    div.app
    script( type='text/javascript' src='/bundle.js' )